#container {
  	position: relative;
}
.hud {  
  position: absolute;
  top: 15px;
  left: 15px;
}
.hud .bar {
	right: 10;
}
.ps {  
  position: absolute;
  top: 0;
  left: 0;
}

#red-bars {  
  position: fixed;
  top: 32px;
  left: 109px;
}
