#container {
  	position: relative;
}

#loading{
  height: 100%;
  width: 100%;
  background-color: #000;
}

#loadingBG{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url("/assets/LoadingBG.jpg");
  overflow: hidden;
}

#loading > img {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -28px;
  margin-left: -350px;
}

#loading-bar{
  background-color: #000;
  position: fixed;  
  width: 0px;  
  height: 28px;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -345px;
  transition: all 10s ease 0s;
}

.hud {  
  position: absolute;
  top: 15px;
  left: 15px;
}
.hud .bar {
	right: 10;
}

#controls{
  position: fixed;
  background-color: transparent;
  width: 701px;
  color: #000;
  left: 50%;
  top: 50%;
  margin-left: -360px;
}

#controls>h3{
  text-align: center;
}

.ps {  
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

#red-bars {  
  position: fixed;
  top: 27px;
  left: 107px;
}

#blue-bars {  
  position: fixed;
  top: 48px;
  left: 107px;
}

#green-bars {  
  position: fixed;
  top: 68px;
  left: 107px;
}
