#container {
  	position: relative;
}

#loading{
  height: 100%;
  width: 100%;
  background-color: #000;
}

#loading > img {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -28px;
  margin-left: -350px;
}

#loading-bar{
  background-color: #fff;
  position: fixed;  
  width: 0px;  
  height: 28px;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -345px;
  transition: all 10s ease 0s;
}

.hud {  
  position: absolute;
  top: 15px;
  left: 15px;
}
.hud .bar {
	right: 10;
}
.ps {  
  position: absolute;
  top: 0;
  left: 0;
}

#red-bars {  
  position: fixed;
  top: 27px;
  left: 107px;
}

#blue-bars {  
  position: fixed;
  top: 48px;
  left: 107px;
}

#green-bars {  
  position: fixed;
  top: 68px;
  left: 107px;
}
